/*
 * It is advised not to edit the smartadmin_production.scss
 * as this will override any changes you make in the
 * later versions of this theme.
 *
 * We advise that you use use this CSS to override
 * SmartAdmin styles.
 *
 * Rename the stylesheet to whatever your liking so it will stay
 * unique to you with each update of SmartAdmin.
 */

/*
 * INDEX
 *
 * - HTML
 * - BODY
 * - CUSTOM STYLES
 */

 .left-panel-wrapper {
   position: absolute;
   top: 40px;
   left: 0;
   right: 0;
   bottom: 116px;
   overflow-x: hidden;
   overflow-y: auto;
 }
 .left-panel-header {
   position: absolute;
   left: 0;
   top: 0;
 }
 .left-panel-footer {
   position: absolute !important;
   bottom: 20px;
 }
 .table-color-gray {
   background-color: #fbfbfb !important;
 }

 .alert {
   margin: 5px
 }

.label-expect {
  background-color: #a90329;
}

.label-in_progress {
  background-color: #c79121;
}

.label-success {
  background-color: #739e73;
}

.label-canceled {
  background-color: #999;
}

.label-false {
  background-color: #a90329;
}

.label-true {
  background-color: #739e73;
}

.label-empty {
  background-color: #999;
}

td.buttons a {
  margin-right: 5px;
}

