<div class="container">
  <div class="row">
    <div class="col-sm-4"></div>
    <div class="col-sm-4">
      <br>
      <table class="table table-bordered">

        <tbody>
          <tr>
            <th bgcolor="green"><i class="fa fa-wrench" style="color: white;" aria-hidden="true"></i></th>
            <th scope="row">Зарегистрировано вызовов</th>
            <td><%= Call.all.size %></td>
          </tr>
          <tr>
            <th bgcolor="green"><i class="fa fa-check-circle" style="color: white;" aria-hidden="true"></i></th>
            <th scope="row">Зарегистировано гарантий</th>
            <td><%= Warranty.all.size %></td>
          </tr>
          <tr>
            <th bgcolor="green"><i class="fa fa-address-card" style="color: white;" aria-hidden="true"></i></th>
            <th scope="row">Зарегисрировано мастеров</th>
            <td><%= Masster.all.size %></td>
          </tr>
          <tr>
            <th bgcolor="green"><i class="fa fa-cubes" style="color: white;" aria-hidden="true"></i></th>
            <th scope="row">Зарегистрировано марок котлов</th>
            <td><%= Model.all.size %></td>
          </tr>
        </tbody>
      </table>
  </div>
    <div class="col-sm-4"></div>
</div>
</div>
