<p>Здравствуй <%= @resource.username %>!</p>

<p>Кто-то запросил ссылку на изменение вашего пароля. Вы можете изменить пароль если это были вы.</p>

<p><%= link_to 'Change my password', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Если вы не просили об этом, пожалуйста, проигнорируйте это письмо.</p>
<p>Ваш пароль не изменится, пока вы не перейдете по ссылке выше и не измените на новый.</p>
