- if user_signed_in?
  nav
    .nav-wrapper
      ul.left
        li
          = link_to root_path, class: 'waves-effect waves-light btn green', style: 'margin-left: 10px;' do
            i.material-icons.left home
            | EURODOM
        li = link_to 'Вызовы', calls_path
        li = link_to 'Гарантийные', warranties_path
      ul.right
        li
          = link_to edit_user_registration_path, class: "waves-effect waves-light btn" do
            = current_user.username
            i.material-icons.right account_circle
        li
          = link_to destroy_user_session_path, method: :delete, class: "waves-effect waves-light btn" do
            | Выйти
            i.material-icons.right exit_to_app
